<ion-content class="auth-page">

  <div class="auth-container">

    <div>
      <h1 class="logo">TaskFlow</h1>
      <p class="subtitulo">Criar conta</p>
    </div>

    <div class="form-area">

      <div class="input-custom">
        <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
      </div>

      <div class="input-custom">
        <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
      </div>

      <div class="input-custom">
        <ion-input [type]="tipoSenha" placeholder="Senha" [(ngModel)]="senha"></ion-input>
        <ion-icon
          [name]="mostrarSenha ? 'eye-outline' : 'eye-off-outline'"
          (click)="toggleSenha()"
          class="icone-olho">
        </ion-icon>
      </div>

      <div class="input-custom">
          <ion-input [type]="tipoConfirmarSenha" placeholder="Confirmar senha" [(ngModel)]="confirmarSenha"></ion-input>
          <ion-icon
            [name]="mostrarConfirmarSenha ? 'eye-outline' : 'eye-off-outline'"
            (click)="toggleConfirmarSenha()"
            class="icone-olho">
          </ion-icon>
      </div>

      <ion-button expand="block" (click)="cadastrar()" class="botao-principal">
        Cadastrar
      </ion-button>

      <p class="texto-link">
        Já possui conta?
      </p>

      <a routerLink="/login" class="link">
        Entre aqui
      </a>

    </div>

  </div>

</ion-content>
