<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="avatar-container">
    <div class="avatar">
      <ion-icon name="person"></ion-icon>
    </div>
  </div>

  <div class="container">

    <div class="input-wrapper">
      <label>Nome</label>
      <span>Fulana de Tal</span>
    </div>

    <div class="input-wrapper">
      <label>Email</label>
      <span>fulana@exemplo.com</span>
    </div>

    <div class="input-wrapper">
      <label>Gênero</label>
      <span>Feminino</span>
    </div>

    <div class="input-wrapper">
      <label>Data de Nascimento</label>
      <span>01/01/2000</span>
    </div>

  </div>
</ion-content>