<ion-content class="inicio-page">

  <div class="inicio-container">

    <div>
      <h1 class="logo">TaskFlow</h1>
      <p class="subtitulo">
        Seja organizado e comece agora
      </p>
    </div>

    <img
      src="/assets/icon/image.png"
      class="imagem-home"
      alt="TaskFlow"
    />

    <div class="botoes-area">

      <ion-button
        expand="block"
        routerLink="/login"
        class="botao-principal">
        Começar
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        routerLink="/cadastro"
        class="botao-outline">
        Cadastrar
      </ion-button>

    </div>

  </div>

</ion-content>

